* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    margin: 20px;
}
.header {
    margin-bottom: 20px;
    h1 {
        display: inline-block;
    }
    .MuiButton-root {
        float: right;
    }
}
.text-right {
    text-align: right;
}
.loader {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}